[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "predictmeans"]
	path = predictmeans
	url = https://github.com/dongwenluo/predictmeans
